:host {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main,
.center {
  width: 100%;
}
