<footer class="footer">
  <ul class="footer__list">
    <li>
      <a target="_blank" href="https://github.com/PavelArabei"
        ><mat-icon
          class="footer__icon"
          [svgIcon]="'github'"
          aria-hidden="false"
          aria-label="Github SVG icon"></mat-icon
      ></a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/pavel-arabei-a6a77527a/"
        ><mat-icon
          class="footer__icon"
          [svgIcon]="'linkedin'"
          aria-hidden="false"
          aria-label="Linkedin SVG icon"></mat-icon
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://t.me/PavelAra"
        ><mat-icon
          class="footer__icon"
          [svgIcon]="'telegram'"
          aria-hidden="false"
          aria-label="Telegram SVG icon"></mat-icon
      ></a>
    </li>
  </ul>
</footer>
